![DSB logo](img/Dolan.jpg)
# Groupby and Pivoting

## PD4E Chapter 10: Groupby Operations: Split-Apply-Combine
### How do you read/manipulate/store data in Python?

# What You Learned in Python/Pandas that could Apply Here

You will need following knowledge from the first half of this course:
1. functions
2. subsetting/slicing data

# What You will Learn in this Chapter

You will learn following techniques in this chapter:
1. Groupby operations to aggregate, transform, and filter data
2. Built-in and custom user function to perform groupby functions
3. creating _pivot tables_ from DataFrames

# What do we mean by Groupby operations?

- Groupby operations is how we aggregate, transform and filter data
    - you will learn the `SQL GROUPBY` in BA 510
- We follow the mantra below:
    - data is separated into different parts based on their feature(s);
    - we apply applicable function(s) to different parts of the data;
    - then we combine different parts of processed data back as the result.

# Why do we need to do this?

- we may need to select subsets of a DataFrame using certain conditions
    - like how we calculate the `final_pay` based on `work_load` last week
- or in data analytics
    - we have different standardized processing pipelines for _categorical_ and _continuous_ features

# Aggregation

- Aggregation is a term we use in databases, or particularly data warehouses
    - aggregation also known as summarization, it means data reduction
    - most of descriptive stats, such as count, mean, standard deviation, are summarization methods
    - the data size is essentially smaller

# Aggregation Examples

- it refers to moving from a more specific data to a more abstract level
    - e.g., if the actual data is daily-based, and we want to get the monthly sum/average of the data
    - or if the observation are scattered in different years, and we want to look at the annual averages

In [1]:
# an example of aggregation
# load the gapminder data
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/gapminder.tsv'`
import pandas as pd
df = pd.read_csv('./data/gapminder.tsv', sep='\t')
df.head(3)

FileNotFoundError: [Errno 2] File b'./data/gapminder.tsv' does not exist: b'./data/gapminder.tsv'

In [ ]:
# calculate the annual average life expectancy for each year
df.groupby('year')['lifeExp'].mean()

In [ ]:
# this is the longer alternative
df['year'].unique()

In [ ]:
df1952 = df[df['year'] == 1952]
df1952mean = df1952['lifeExp'].mean()
df1952mean

# Built-in Aggregation Methods

- In above example, you noticed that we calculate the average life expactacies for each individual year
    - average is one of the __aggregation method__
    - there are other aggregation methods available
    - refer to PD4E pp. 192 for all applicable aggregation methods

In [ ]:
# note that ball  columns in the 
# results below can be aggregation methods
df.groupby('continent')['lifeExp'].describe()

# Aggregation Methods

- So far we have been using aggregation methods directly
- but in general we can use the `.agg()` method for any aggregation function
    - you should consider `.agg()` as a special case of `.apply()`
- there are two use cases for using `.agg()`
    - we can only use `pandas` built-in aggregation methods (column 1 in Table 10.1) directly, but sometimes we prefer using the `numpy` alternatives (column 2 in Table 10.1) - since they are much faster
    - we can even use custom aggregation functions/methods

In [ ]:
# numpy method - numpy is always faster than pandas
%time
import numpy as np
df.groupby('continent')['lifeExp'].agg(np.mean)

In [ ]:
# custom aggregation function
def my_mean(values): # our own version of mean calculation
    # get total number of values
    return sum(values)/len(values)

In [ ]:
df.groupby('continent')['lifeExp'].agg(my_mean)

In [ ]:
# multiple aggregation function siultaneously
df.groupby('continent')['lifeExp'].agg([np.count_nonzero, 
                                        np.mean, np.std, np.min, np.max])

In [ ]:
df.groupby('continent')['lifeExp'].agg([np.count_nonzero, 
                                        np.mean, np.std]).rename(columns={'count_nonzero': 'count',
                                                                          'mean':'avg',
                                                                          'std':'std_dev'})

# Preferred `.groupby()` syntax

- You should use following syntax when you use `.groupby()`
    - the preferred syntax can handle different aggregation functions on different columns
    
```python
df.groupby('grouping column').agg({'aggregating column': 'aggregating function'})
```

In [ ]:
df.groupby('continent').agg({'lifeExp': ['min', 'max'],
                              'pop': ['min', 'max']
                              }).round(0).head(10)

# Transform Your Data

- Transform is different from aggregation
    - aggregate takes multiple values, and output one value (values --> annual average)
    - transform take mukltiple values, and do a one-to-one transform
    - transform is similar to apply

In [ ]:
# z-score example
def my_zscore(x):
    return(x-x.mean()/x.std())

In [ ]:
z_transform = df.groupby('continent')['lifeExp'].transform(my_zscore)
z_transform.head(3)

In [ ]:
# one-to-one match - same dimension with `df`
z_transform.shape[0] == df.shape[0]

In [ ]:
# same as transform
z_transform1 = df.groupby('continent')['lifeExp'].apply(my_zscore)
z_transform1.head(3)

# missing value example
- Read PD4E pp. 199 - 201 for the example

# Grouped - one of the most common names in pandas**

- You can always group your data based on one or more columns
- grouped objects are essentially subsets of your data, based on certain conditions

In [ ]:
import seaborn as sns

tips10 = sns.load_dataset('tips').sample(10, random_state=2019)
tips10

In [ ]:
# this will return the grouped objects
grouped = tips10.groupby('sex')
grouped

In [ ]:
# to unpack the grouped objects, we need to use a loop
for group in grouped:
    print(group)

In [ ]:
# we can do calculation to the grouped objects
grouped.mean()

In [ ]:
# selecting a group - a subset of your data
grouped.get_group('Female')

In [ ]:
# you can also group based on multiple columns
tips10.groupby(['sex','time']).mean().round(2)

# Multi-index DataFrame

- Above results, since it has two levels of indices, is called a _multi-index_ DataFrame
- multi-index DataFrames are useful in the field of databases and data warehouses/BI
- but strongly discouraged in machine learning

In [ ]:
# indexing can unpack the multi-index, by giving you a subset of the data
tips10.groupby(['sex','time']).mean().loc['Male']

In [ ]:
# if you want to get all the data at the same level, you need `.reset_index()`
# this operation is called __flattening__
# almost a must do in machine learning
tips10.groupby(['sex','time']).mean().reset_index()

# `pivot_table` in `pandas`

- Like you used in Excel, `pandas` also support pivot tables
- pivot tables are similar to `.groupby()`, but much cleaned
    - `NaN` rows will be eliminated
- Prefer `.pivot_table()` to `.groupby()` when you want to directly compare groups
- Alternatively, use `.groupby()` when you want to iterate through groups

In [ ]:
tips10.pivot_table(index=['sex', 'time'],
                    values=['total_bill', 'tip', 'size'], aggfunc='mean').round(2)

# Crosstabs

- pandas also provide a function `crosstab()`
- only use that when you want to look at the relative frequency of a column values

In [ ]:
# following statement will give you the relative frequency of `day` over `sex`
pd.crosstab(index=tips10['sex'], columns=tips10['day'], normalize='all').round(3)

# Your Turn Here
Finish exercises below by following instructions of each of them.

## Q1. Coding Problem

Complete excecises regarding data types of the given DataFrame (`itinery_df`).

In [2]:
import random
import pandas as pd
# generating the DF
duration_mins = pd.Series(random.sample(range(1, 1800), 50), name='duration_mins')
work_types = ['lecture', 'consulting', 'research']
work_type_series = pd.Series(random.choices(work_types, k=50), name='work_types')
locations = ['Beijing, China', 'London, England', 'Paris, France', 'Munich, Germany', 
             'Sydney, Australia', 'Mumbai, India', 'Madrid, Spain']
loc_series = pd.Series(random.choices(locations, k=50), name='locations')
hour_rates = pd.Series([round(random.uniform(10.0, 20.0), 2) for i in range(50)], name='hour_rates')
#hour_rates.loc[random.sample(range(1, 20), 5)] = 'missing'
#duration_mins.loc[random.sample(range(1, 20), 5)] = 'missing'
itinery_df = pd.concat([duration_mins, work_type_series, loc_series, hour_rates], axis=1)
#itinery_df['duration_mins'] = itinery_df['duration_mins'].astype(str)
itinery_df.head()

   duration_mins  work_types        locations  hour_rates
0            593     lecture  Munich, Germany       18.56
1           1288    research    Paris, France       17.16
2            833  consulting   Beijing, China       13.72
3           1062     lecture   Beijing, China       16.56
4            345     lecture    Paris, France       17.43

## Part 1:

Calculate the total working minutes (`durantion_mins`) by city, and answer which city has the highest total working minutes.

__HINT__: use `.groupby()` with the aggregation function as `sum`.

In [4]:
itinery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
duration_mins    50 non-null int64
work_types       50 non-null object
locations        50 non-null object
hour_rates       50 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [6]:
#calculate working minutes by city
itinery_df.groupby('locations')['duration_mins'].sum()

locations
Beijing, China        8459
London, England       2870
Madrid, Spain         4856
Mumbai, India         1648
Munich, Germany      10369
Paris, France        14130
Sydney, Australia     5268
Name: duration_mins, dtype: int64

## Part 2:

Without using the `.describe()` method, calculate the `count`, `min`, `max`, `std`, `mean` of `hour_rates` grouped by `work_types`.

In [8]:
#calculate methods of hour_rates grouped by work_type
import numpy as np
itinery_df.groupby('work_types')['hour_rates'].agg([np.count_nonzero,
                                                   np.mean, np.std, np.min, np.max])

            count_nonzero       mean       std   amin   amax
work_types
consulting           18.0  14.373889  2.660949  10.21  18.86
lecture              16.0  14.481250  2.697673  11.19  18.62
research             16.0  14.805000  2.630904  11.17  19.00

## Part 3:

Print out subset of `itinery_df` by different `locations`

In [9]:
#create a subset of itinery_df by locations
grouped=itinery_df.groupby('locations')
for group in grouped:
    print(group)

('Beijing, China',     duration_mins  work_types       locations  hour_rates
2             833  consulting  Beijing, China       13.72
3            1062     lecture  Beijing, China       16.56
9             670    research  Beijing, China       13.95
17           1203     lecture  Beijing, China       13.10
19           1744     lecture  Beijing, China       12.14
26           1109     lecture  Beijing, China       18.05
28           1574    research  Beijing, China       16.35
37            264    research  Beijing, China       15.98)
('London, England',     duration_mins  work_types        locations  hour_rates
14            367  consulting  London, England       16.68
25            671     lecture  London, England       11.41
29           1091  consulting  London, England       16.98
41            741    research  London, England       16.37)
('Madrid, Spain',     duration_mins  work_types      locations  hour_rates
18           1271    research  Madrid, Spain       12.20
31            461  consulting  Madrid, Spain       11.26
32            323    research  Madrid, Spain       12.49
36            791  consulting  Madrid, Spain       14.47
39           1240    research  Madrid, Spain       12.36
48            770     lecture  Madrid, Spain       13.97)
('Mumbai, India',    duration_mins work_types      locations  hour_rates
5           1648   research  Mumbai, India       13.44)
('Munich, Germany',     duration_mins  work_types        locations  hour_rates
0             593     lecture  Munich, Germany       18.56
7             408  consulting  Munich, Germany       13.25
8            1431     lecture  Munich, Germany       16.60
10            514  consulting  Munich, Germany       13.61
11           1360  consulting  Munich, Germany       17.75
13           1348     lecture  Munich, Germany       11.77
20            751    research  Munich, Germany       17.43
30           1611  consulting  Munich, Germany       12.43
33            968     lecture  Munich, Germany       14.24
49           1385  consulting  Munich, Germany       13.65)
('Paris, France',     duration_mins  work_types      locations  hour_rates
1            1288    research  Paris, France       17.16
4             345     lecture  Paris, France       17.43
12           1351  consulting  Paris, France       16.76
15           1250    research  Paris, France       18.75
16           1605  consulting  Paris, France       11.80
21           1585     lecture  Paris, France       12.49
23            705  consulting  Paris, France       18.86
27            436     lecture  Paris, France       11.19
35             42    research  Paris, France       12.74
38            594  consulting  Paris, France       12.78
42           1164  consulting  Paris, France       16.97
43            875    research  Paris, France       11.17
44           1515     lecture  Paris, France       18.62
45           1248     lecture  Paris, France       13.02
47            127    research  Paris, France       19.00)
('Sydney, Australia',     duration_mins  work_types          locations  hour_rates
6            1663  consulting  Sydney, Australia       10.55
22            159    research  Sydney, Australia       11.34
24           1597  consulting  Sydney, Australia       10.21
34           1247  consulting  Sydney, Australia       17.00
40            551     lecture  Sydney, Australia       12.55
46             51    research  Sydney, Australia       16.15)

## Part 4:

Use `.pivot_table` to compare which `location` has the highest `hour_rate`.

In [10]:
itinery_df.pivot_table(index=['locations'],
                      values=['hour_rates'], aggfunc ='mean').round(2)

                   hour_rates
locations
Beijing, China          14.98
London, England         15.36
Madrid, Spain           12.79
Mumbai, India           13.44
Munich, Germany         14.93
Paris, France           15.25
Sydney, Australia       12.97

## Part 5:

Show the relative frequencies of `work_types` over different `locations`. (__HINT__: use `crosstab()`)

In [11]:
pd.crosstab(index=itinery_df['work_types'], columns=itinery_df['locations'], normalize='all').round(3)

locations,"Beijing, China","London, England","Madrid, Spain","Mumbai, India","Munich, Germany","Paris, France","Sydney, Australia"
work_types,,,,,,,
consulting,0.02,0.04,0.04,0.00,0.10,0.1,0.06
lecture,0.08,0.02,0.02,0.00,0.08,0.1,0.02
research,0.06,0.02,0.06,0.02,0.02,0.1,0.04

# Classwork (start here in class)
You can start working on them right now:
- Read Chapter 10 in PD4E 
- If time permits, start in on your homework. 
- Ask questions when you need help. Use this time to get help from the professor!

# Homework (do at home)
The following is due before class next week:
  - Any remaining classwork from tonight
  - DataCamp “Bringing it all together” assignment
  - Coding assignment pt. 4

Note: All work on DataCamp is logged. Don't try to fake it!

Please email [me](mailto:jtao@fairfield.edu) if you have any problems or questions.

![DSB logo](img/Dolan.jpg)
# Groupby and Pivoting

## PD4E Chapter 10: Groupby Operations: Split-Apply-Combine
### How do you read/manipulate/store data in Python?